<!-- Navbar2 -->
<app-navigator></app-navigator>

<LINK REL=StyleSheet HREF="src/app/components/perfil/perfil.component.css" TITLE="Contemporaneo">
<!-- Permitira ver el perfil del mismo usuario o de algun otro usuario -->

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <form action="" class="mt-4">
                        <h1 class="text-center mb-3 mt-2 mb-4">Perfil</h1>
                        <div class="form-group">
                            <label for="nombre_usuario"><b>Nombre de usuario</b></label>
                            <input type="text" name="nombre_usuario" id="nombre_usuario" value="Nombre" class="form-control mb-2">
                        </div>
                        <div class="form-group">
                            <label for="nombre_usuario"><b>Fecha de nacimiento</b></label>
                            <input name="consola" rows="2" value="Apellidos" class="form-control mb-2">
                        </div>
                        <div class="form-group">
                            <label for="nombre_usuario"><b>Correo electrónico</b></label>
                            <input name="anio" rows="2" value="correo@gmail.com" class="form-control mb-2">
                        </div>
                        <div class="form-group">
                            <label for="nombre_usuario"><b>Biografía</b></label>
                            <textarea name="descripcion" rows="6" class="form-control mb-2">Bibligrafia</textarea>
                        </div>
                        <div class="col text-center mt-4">
                            <button class="btn btn-success btn-block"><i class="fa fa-floppy-o" aria-hidden="true"></i> GUARDAR CAMBIOS</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    
    </div>
</div>
