<!-- Navbar2 -->
<app-navigator></app-navigator>

<LINK REL=StyleSheet HREF="src/app/components/biblioteca-juegos/biblioteca-juegos.component.css" TITLE="Contemporaneo">

<!-- Muestra todos los juegos que fueron agregados a la biblioteca del usuario -->
<div class="container mt-4 mb-5">
    <div class="row">


        <!-- Titulo de la pagina -->
        <h1 class="text-center mb-5 mt-5">Biblioteca de Juegos</h1>

        <!-- Nueva tarjeta. Es donde va a estar toda la informacion del juego y es lo que se va a estar repitiendo -->
        <div class="col-md-4 mb-4s"> 
            <div class="card text-center">
                <img src="https://www.elcomercio.com/files/article_main/uploads/2020/01/10/5e191549c8bb6.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5><b>Información del juego</b></h5>
                    <hr>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-tag" aria-hidden="true"></i><b> Nombre:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-gamepad" aria-hidden="true"></i><b> Consola a la que pertenece:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-calendar" aria-hidden="true"></i><b> Año de publicacion:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-star" aria-hidden="true"></i><b> Punteo</b></p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-commenting" aria-hidden="true"></i><b> Opinión:</b> xx</p>
                </div>
            </div>
        </div>

        <!-- Nueva tarjeta. Es donde va a estar toda la informacion del juego -->
        <div class="col-md-4 mb-4"> 
            <div class="card text-center">
                <img src="https://www.elcomercio.com/files/article_main/uploads/2020/01/10/5e191549c8bb6.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5><b>Información del juego</b></h5>
                    <hr>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-tag" aria-hidden="true"></i><b> Nombre:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-gamepad" aria-hidden="true"></i><b> Consola a la que pertenece:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-calendar" aria-hidden="true"></i><b> Año de publicacion:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-star" aria-hidden="true"></i><b> Punteo</b></p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-commenting" aria-hidden="true"></i><b> Opinión:</b> xx</p>
                </div>
            </div>
        </div>

        <!-- Nueva tarjeta. Es donde va a estar toda la informacion del juego -->
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <img src="https://www.elcomercio.com/files/article_main/uploads/2020/01/10/5e191549c8bb6.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5><b>Información del juego</b></h5>
                    <hr>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-tag" aria-hidden="true"></i><b> Nombre:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-gamepad" aria-hidden="true"></i><b> Consola a la que pertenece:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-calendar" aria-hidden="true"></i><b> Año de publicacion:</b> xx</p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-star" aria-hidden="true"></i><b> Punteo</b></p>
                    <p class="mb-0" style="text-align: left;"><i class="fa fa-commenting" aria-hidden="true"></i><b> Opinión:</b> xx</p>
                </div>
            </div>
        </div>


    
    </div>
</div>